// Theme's Palette
@import("C:/Users/dcai/Desktop/studypro/smallgao-bolg/docs/.vuepress/theme/styles/palette.styl")

// User's Palette
@import("C:/Users/dcai/Desktop/studypro/smallgao-bolg/docs/.vuepress/styles/palette.styl")